body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header-admin {
  display: flex;
  gap: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.Delete {
  cursor: pointer;
  color: red;
}

a {
  font-weight: 500;
  padding-bottom: 0;
  text-decoration: none;
}

a.nav-link.active {
  padding-bottom: 0px;
  
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0;
}

li {
  display: inline-block;
  /* Thêm thuộc tính display */
  color: #333;
  /* Màu chữ */
  text-decoration: none;
  /* Loại bỏ underline mặc định */
  position: relative;
  /* Cần để tạo hiệu ứng hover */
}

li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  /* Độ dày của underline */
  bottom: -2px;
  /* Vị trí của underline so với chữ */
  background-color: #333;
  /* Màu của underline */
  visibility: hidden;
  /* Ẩn underline ban đầu */
  transform: scaleX(0);
  /* Thu nhỏ underline ban đầu */
  transition: all 0.3s ease-in-out;
  /* Hiệu ứng chuyển động */
}

li:hover::before {
  visibility: visible;
  /* Hiển thị underline khi hover */
  transform: scaleX(1);
  /* Mở rộng underline khi hover */
}

li {
  color: #333;
  text-decoration: none;
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  /* Đổi màu và độ dày của đường gạch chân */
  bottom: -2px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

li:hover::after {
  transform: scaleX(1);
}
.Edit , .Delete{
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
